@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.header {
	height: 140px;
}

.header nav {
	max-width: 1200px;
	padding-top: 60px;
	margin: 0 auto;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}

.header nav ul {
	display: flex;
	gap: 20px;
}

.header nav ul li {
	cursor: pointer;
}

.logo {
	width: 70px;
	height: 70px;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
.row h1 {
	flex-direction: row;
}

.container{
    margin: 15px;
	max-width: 356px;
	max-height: 147px;
	font-size: 24px;
	font-family: 'Inter', sans-serif;
	text-align: center;
	display: flex;
justify-content: center;
justify-content: space-around;
}
.card-subtitle {
	color: #009f70;
	font-size: 64px;
	font-weight: 'Anton', sans-serif;
	display: flex;
justify-content: center;
justify-content: space-around;
}


.display {
display: flex;
justify-content: center;
justify-content: space-around;
}

.cards1 {
display: flex;
justify-content: center;
justify-content: space-around;
}

.icon {
display: flex;
justify-content: center;
justify-content: space-between;
align-items: center;
}

.informes{
display: flex;
justify-content: center;
justify-content: space-between;
align-items: center;
}