.header {
	height: 140px;
}

.header nav {
	max-width: 1200px;
	padding-top: 60px;
	margin: 0 auto;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}

.header nav ul {
	display: flex;
	gap: 20px;
}

.header nav ul li {
	cursor: pointer;
}

.logo {
	width: 70px;
	height: 70px;
}
