.form-content {
	display: flex;
	flex-direction: column;

}

.content-title {
	display: flex;
	flex-direction: column;
}

.button-submit {
	width: 473px;
	height: 60px;
	border-radius: 20px;

	font-weight: bold;
	font-size: 16px;
	color: white;
	background-color: #AED3D1;
}

.button-submit:hover {
	background-color: #7bc0bd;

}

.error-message {
	color: rgb(255, 72, 72);
	font-size: 0.75rem;
	margin-bottom: 25px;
	margin-left: 10px;
	/* margin-top: 8px; */
}
