.header-menu-left {
	display: flex;
	align-items: center;
	margin-top: 3.125rem;
	margin-left: 13.4rem;
}

.image-profile {
	padding: 15px;
	min-height: 100px;
	align-items: center;
	justify-content: center;
}

.image-profile img {
	max-width: 100px;
	display: flex;
	float: right;
	justify-content: right;
}

.text-menu-left h3 {
	font-weight: 400;
}
