.card {
	cursor: pointer;
	background-color: #F3F0F0;
	width: 473px;
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 20px;
	padding: 0 50px;

}

.card:hover {
	background-color: #d1cece;
}

.card span {
	color: #88AFAD;
}

.register-card {
	text-align: center;
}
